* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "filmotype-austin", sans-serif;
    font-style: normal;
}

/* Header Styling */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-color: hsla(0, 76%, 3%, 0.1);
    border-bottom: 1px solid;
    border-style: inset;
    border-width: 2px;
}

.title {
    margin-left: 212px;
}

.logo{
    height: 50px;
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 15px;
}
.nav_links a{
    text-decoration: none;
    color: black;
}
html, body{
    height: 100%;
}

.house {
    padding-right: 5px;
}

/* Main Styling */
.main {
    width: 100%;
    height: 80%;
}

.heading {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

iframe {
    width: 60%;
    height: 400px;
}

.video {
    display: flex;
    margin: 50px;
    height: 300px;
    justify-content: space-around;
    text-align: center;
}

.video2 {
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 30px;
    height: 200px;
}
.video2 h4 {
    padding-top: 70px;
}

/* Footer Styling */

footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(39, 37, 37);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}
.footer_links{
    list-style:none;
    color: white;   
}
.footer_links li{
    display: inline-block;
    padding: 0px 20px;
}
footer h4{
    padding: 10px;
    color: white;
}